
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    <div>
        @ViewBag._Return1
    </div>
    <hr />
    <div>
        @ViewBag._Return2
    </div>
</body>
</html>


