
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Web/Views/Include/_Master.cshtml";
}
@Html.Action("_AccountPlaceTop","Include")
<div class="section-container">
    <section class="section">
        <div class="section-header">
            會員職分
        </div>
        <div class="section-body">
            <div class="section-card">
                <div class="card-info">
                    <div class="d-flex align-items-center">
                        <img class="avatar" src="/Areas/Web/Content/Img/avatar.svg"></img>
                        <ul class="rank">
                            <li># 小組長</li>
                            <li># 維安事工團</li>
                        </ul>
                    </div>
                    <div class="card-info-footer">
                        OO牧區 / OX督區 / OX區 / XO小組 (小組編號：00001)
                    </div>
                </div>
                <div class="card-info-separate">&nbsp;</div>
                <div class="card-info">
                    <div class="card-info-header">小組聚會資訊</div>
                    <div class="card-info-body">
                        <span>聚會日：<span>星期三</span></span>
                        <span>聚會時間：<span>17:00-19:00</span></span>
                        <span>聚會地點：<span>台中旌旗教會</span></span>
                    </div>
                </div>
                <div class="card-info-separate">&nbsp;</div>
                <div class="card-info">
                    <div class="card-info-header">未結業課程</div>
                    <div class="card-info-body">
                        <span>課程名稱：<span>【E3生命更新營】實現 幸福夢想</span></span>
                        <span>課程名稱：<span>【E3生命更新營】實現 幸福夢想</span></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="section-header">
            小組資訊-樹狀圖
        </div>
        <div class="section-body">
            <div class="section-card">
                <div class="location-container">
                    <img src="/Areas/Web/Content/Img/location.svg" alt="">
                    台中旌旗教會分堂
                </div>
            </div>
        </div>
    </section>
</div>
