
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Web/Views/Include/_Master.cshtml";
}
<style>
    .body {
        display:unset;
    }
    .topimg img{
        width:100%;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="topimg">
            <img src="/Areas/Web/Content/Img/class_index.svg"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 pt-3">
                    個人所在旌旗：台中旌旗教會
                </div>
                <div class="col-lg-6 col-12 pt-3 text-lg-end text-center">
                    <a href="#" class="me-4 lab_DarkBlue"><i class="fa-regular fa-star me-3"></i>追蹤清單</a>
                    <a href="#" class="me-4 lab_DarkBlue"><i class="fa-solid fa-cart-shopping me-3"></i>購物車</a>
                    <a href="#" class="lab_DarkBlue"><i class="fa-solid fa-clipboard-list me-3"></i>訂單管理</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="lab_DarkBlue" style="font-size:30px;margin-top:50px;">
                        生活樂趣百百種<br />
                        樂活體演課程隨你選
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="card" style="margin-top: 50px;">
                        <div class="card-body">
                            <input placeholder="搜尋" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
