@model Banner.Areas.Admin.Controllers.OrganizeSetController.cOrganize_Info_List
@{
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}
<div class="main-container">
    <div class="header-container">
        <div class="header-left-border"></div>
        <h5 class="header font-bold">@ViewBag._Title</h5>
    </div>
    <div class="body-container">
        <form method="post" id="form1">
            @{
                if (Model != null)
                {
                    @Html.Action("_OrganizeTopList", "Include", new { OID = Model.OID })
            <div class="search-form">
                <div class="search-form-section">
                    <div class="row">
                        <div class="col-xxl-8 col-12">
                            @Html.Action("_OrganizeFilter", "Include", new { OID = Model.OID, OTitle = Model.OTitle })
                        </div>
                        <div class="col-xxl-4 col-12 text-lg-end text-center">
                            <a href="javascript:Search();" class="btn btn-primary btn-lg btn-round btn-submit me-2"><i class="fa-solid fa-magnifying-glass"></i>搜尋</a>
                            @if (((bool[])ViewBag._Power)[4])
                            {
                                <a href="/Admin/OrganizeSet/Organize_Info_Print" class="btn btn-primary btn-lg btn-round btn-submit me-2" target="_blank"><i class="fa-solid fa-download"></i>全部匯出</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
                    <div class="table-container">
                        @Html.Action("_TableList", "Include", new { cTL = Model.cTL })
                    </div>

                }
            }
        </form>
    </div>
</div>
<script>
    function Search() {
        document.getElementById('form1').submit();
    }
</script>


