
@{
    ViewBag.Title = "GroupData_Aldult_List";
    Layout = "~/Areas/Web/Views/Include/_Master.cshtml";
}
<style>
    .bn-theme .btn-round-nocolor {
        border-radius: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        --bs-btn-padding-y: 10px;
        --bs-btn-padding-x: 24px;
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 16px;
        white-space: nowrap;
    }

        .bn-theme .btn-round-nocolor.btn-sm {
            --bs-btn-padding-y: 6px;
            --bs-btn-padding-x: 24px;
        }
</style>
<div class="body-container container_phone">
    <div class="section-container">
        <nav class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Web/GroupPlace/Index/@ViewBag._OIID">小組資訊</a></li>
                <li><img src="/Areas/Web/Content/img/right.svg" alt="" /></li>
                <li class="breadcrumb-item"><a href="">小組名單</a></li>
            </ol>
        </nav>
        <div class="header-container">
            <div class="header-left-border"></div>
            <h5 class="header">@Html.Raw(TempData["GroupTitle"])</h5>
        </div>
        @Html.Action("_GroupTopMenu", "Include")
        <div class="container-lg">
            <form method="post" id="form1">

                @Html.Action("_TableList", "Include", new { cTL = Model })
            </form>
        </div>
    </div>
</div>
<script>
    function EditEmtitle(ACID) {
        $.ajax({
            url: '/Web/GroupPlace/EditEmtitle?ACID=' + ACID,
            method: 'GET',
            dataType: 'text',
            success: function (res) {
                console.log(res);
                if (res == '') {
                    Swal.fire({
                        icon: 'success',
                        html: '已完成會友卡處理'
                    });
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        html: res
                    });
                }
            },
            error: function (err) { console.log(err) },
        });
    }
</script>
