
@{
    ViewBag.Title = "GroupData_Aldult_List";
    Layout = "~/Areas/Web/Views/Include/_Master.cshtml";
}

<div class="body-container">
    <div class="section-container">
        <nav class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Web/GroupPlace/Index/@ViewBag._OIID">小組資訊</a></li>
                <li><img src="/Areas/Web/Content/img/right.svg" alt="" /></li>
                <li class="breadcrumb-item"><a href="">新人名單</a></li>
            </ol>
        </nav>
        <div class="header-container">
            <div class="header-left-border"></div>
            <h5 class="header">@Html.Raw(ViewBag._GroupTitle)</h5>
        </div>
        @Html.Action("_GroupTopMenu", "Include")
        <div class="w-100 mt-2">
            <form method="post" id="form1">
                @Html.AntiForgeryToken()
                <label><span>．落戶原則：小組員需聚會4次以上，再進行落戶。</span></label>
                @Html.Action("_TableList", "Include", new { cTL = Model })
            </form>
        </div>
    </div>
</div>

