
@{
    ViewBag.Title = "Event_List";
    Layout = "~/Areas/Web/Views/Include/_Master.cshtml";
}

<div class="body-container container_phone">
    <div class="section-container">
        <nav class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Web/Home/Index">首頁</a></li>
                <li><img src="/Areas/Web/Content/img/right.svg" alt="" /></li>
                <li class="breadcrumb-item"><a href="/Web/StaffPlace/Event_List?SID=@ViewBag._SID">活動列表</a></li>
                <li><img src="/Areas/Web/Content/img/right.svg" alt="" /></li>
                <li class="breadcrumb-item"><a href="">團員簽到列表</a></li>
            </ol>
        </nav>
        <div class="header-container">
            <div class="header-left-border"></div>
            <h5 class="header">@Html.Raw(ViewBag._StaffTitle) - 團員簽到列表</h5>
        </div>
        @Html.Action("_GroupTopMenu", "Include")
        <div class="container-lg">
            <form method="post" id="form1">

                @Html.Action("_TableList", "Include", new { cTL = Model.cTL })
            </form>
        </div>
    </div>
</div>
<script>
    function JoinEvent(EHID, ACID) {
        $.ajax({
            url: '/Web/StaffPlace/StaffEvent_LeaderJoin?EHID=' + EHID + '&ACID=' + ACID,
            method: 'GET',
            dataType: 'text',
            success: function (res) {
                console.log(res);
                if (res != '')
                {
                    Swal.fire({
                        icon: 'warning',
                        html: res
                    })
                }
                else {
                    Swal.fire({
                        icon: 'success',
                        html: '補打卡完成'
                    }).then((result) => {
                        document.location.reload();
                    });
                }
            },
            error: function (err) { console.log(err) },
        })
    }

    function RemoveEvent(EDID) {
        $.ajax({
            url: '/Web/StaffPlace/StaffEvent_LeaderRemove?EDID=' + EDID,
            method: 'GET',
            dataType: 'text',
            success: function (res) {
                console.log(res);
                if (res != '') {
                    Swal.fire({
                        icon: 'warning',
                        html: res
                    })
                }
                else {
                    Swal.fire({
                        icon: 'success',
                        html: '打卡已移除'

                    }).then((result) => {
                        document.location.reload();
                    });
                }
            },
            error: function (err) { console.log(err) },
        })
    }
</script>


