
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Web/Views/Include/_Master.cshtml";
}

<div class="body-container ">
    <div class="section-container">
        <nav class="breadcrumb-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Web/Home/Index">首頁</a></li>
                <li><img src="/Areas/Web/Content/img/right.svg" alt="" /></li>
                <li class="breadcrumb-item"><a href="#">上課打卡</a></li>
            </ol>
        </nav>
        <div class="header-container">
            <div class="header-left-border"></div>
            <h5 class="header">上課打卡</h5>
        </div>
        <div class="container-lg">
            <div class="body-container">
                <div class="text-center">
                    <label>@TempData["QRCode_Msg"]</label><br /><br />
                    @if ((bool)TempData["QRCode_Show"])
                    {
                        <img src="@TempData["QRCode_URL"]" style="width:100%; max-width:200px;" />
                        <br />
                        <br />
                        <a href="@TempData["JoinGroup_URL"]">@TempData["JoinGroup_URL"]</a>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
