/*
    背景基本色:#008BAB 藍綠
    按鈕基本色:#3f51b5 深藍
*/
html, body {
    height: 100%;
}

:root {
    --basic-bagrount-color: #008BAB;
    --basic-button-color: #3f51b5;
    --basic-bagrountgray-color: #CCC;
}

.bassic_BackgroundGrayColor {
    background-color: var(--basic-bagrountgray-color);
}

.bassic_BackColor {
    background-color: var(--basic-bagrount-color);
}

a {
    text-decoration: none;
}
/**/
.Top_Background {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#008bab+50,252a34+100 */
    background: rgb(0,139,171); /* Old browsers */
    background: -moz-linear-gradient(left, var(--basic-bagrount-color) 50%, #252A34 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, var(--basic-bagrount-color) 50%,#252A34 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, var(--basic-bagrount-color) 50%,#252A34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 58px;
    padding: 16px;
}

/*基本按鈕*/
.btn_Basic {
    /*color: #ffffff;
    background-color: #3f51b5;
    padding: 5px 10px;
    width: 100px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #3f51b5;
    margin: auto 2px;*/
    width: fit-content;
    display: inline-flex !important;
}

/*.btn_Basic:hover {
        background-color: #6292D4;
    }*/
/*按鈕白底板*/
.btn_Basic_W {
    /*color: #3f51b5;
    background-color: #ffffff;
    padding: 5px 10px;
    width: 100px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #3f51b5;
    margin: auto 2px;*/
    width: fit-content;
    display: inline !important;
}

/*.btn_Basic_W:hover {
        color: #6292D4;
    }*/

/*Tab*/
.tab-pane {
    padding: 30px;
}

/*組織與職分管理*/
.td_O {
    float: left;
    display: inline-block;
}

.td_O_Basic1 {
    width: 150px;
    height: 60px;
    text-align: center;
    padding: 5px;
    border: 1px solid #0094ff;
    color: #0094ff;
    line-height: 45px;
}

.td_O_Basic2 {
    width: 160px;
    height: 60px;
    text-align: center;
    padding: 5px;
    border: 1px solid #0094ff;
    color: #0094ff;
    line-height: 20px;
}

.td_O_Line0 {
    width: 75px;
}

.mb_10px {
    margin-bottom: 10px;
}

.td_O_Basic0 {
    width: 150px;
    height: 36px;
}

.td_O_Line1 {
    border-right: 1px solid #0094ff;
    width: 75px;
    height: 36px;
}

.td_O_1 {
    width: 50px;
    height: 36px;
}

.td_O_Line2 {
    border-bottom: 1px solid #0094ff;
    width: 30px;
    height: 30px;
}

.td_O_Line3 {
    border-left: 1px solid #0094ff;
    width: 30px;
    height: 29px;
}

.td_O_Line4 {
    border-right: 1px solid #0094ff;
    width: 30px;
    height: 29px;
}

.td_O_2 {
    width: 50px;
    height: 18px;
}

.div_Edit .row {
    margin: 5px 0;
}

.div_Edit input[type=checkbox] {
    margin-top: 10px;
}

/*組織篩選用上選單*/
.div_UpTab a {
    color: #999;
    font-weight: 800;
}

.div_UpTab .a_Select {
    /*color: var(--basic-bagrount-color);*/
    color: #DF3A01;
}

.div_UpTab .col {
    border-bottom: 2px solid #FFFFFF;
    padding: 15px 0;
}

.div_UpTab .col_Select {
    border-bottom: 2px solid var(--basic-bagrount-color);
}

/*div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: #00b900 !important;
    border:none;
}*/

/*組織圖客製化覆蓋CSS*/
/*.orgchart.l2r .node {
    margin-top: 0px !important;
}

.edge, .topEdge, .rightEdge, .leftEdge, .bottomEdge {
    display: none !important;
}

.node:hover, .node.focused {
    background-color: unset !important;
}

.oci-menu {
    display: none !important;
}*/

/*按鈕等待*/
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.btn-loading {
    position: relative;
}

    .btn-loading .material-icons {
        display: none;
    }

    .btn-loading::before {
        content: "";
        width: 16px;
        height: 16px;
        border: 2px solid #ccc;
        border-top-color: #333;
        border-radius: 8px;
        animation: spin 1s linear infinite;
        margin-top: 2px;
    }

    .btn-loading.btn-lg::before {
        margin-top: 4px;
    }

    .btn-loading[disabled]::after {
        border-color: #aaa;
        border-top-color: #777;
    }

    .btn-loading[disabled] {
        cursor: not-allowed;
    }



.div_OI_Outround {
    width: 220px;
    position: relative;
}
.div_OI_Outround_end {
    width: 180px;
    position: relative;
}
.div_OI_Top_0 {
    float: left;
}
.div_OI_Top_1 {
    border-left: 1px solid #0094ff;
    float: left;
}

.div_OI_Button_0 {
    border-top: 1px solid #0094ff;
    float: left;
}
.div_OI_Button_1 {
    border-left: 1px solid #0094ff;
    border-top: 1px solid #0094ff;
    float: left;
}

.div_OI_Info {
    z-index: 10;
    position: absolute;
    top: calc(50% - 30px);
    background-color: white;
    left: 30px;
}

.div_OI_Info_end {
    z-index: 10;
    position:absolute;
    background-color: white;
    left: 30px;
}
/*======================================================手機板======================================================*/
@media(max-width:992px) {
    /*表單RWD*/
    .table_RWDStyle {
        width: 100%;
    }

        .table_RWDStyle tr {
            display: block;
            border: 2px solid #CCC;
            margin: 5px;
            padding: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

            .table_RWDStyle tr.Bgn {
                display: none;
            }

            .table_RWDStyle tr td {
                display: block;
                border: unset;
                padding: 3px;
                text-align: left;
            }

                .table_RWDStyle tr td .lab_AreaTitleCell {
                    display: block;
                }

                .table_RWDStyle tr td textarea.form-control {
                    height: 80px;
                    width: 100%;
                    display: initial;
                }

                .table_RWDStyle tr td .form-control {
                    width: auto;
                    display: initial;
                }

                .table_RWDStyle tr td .lab_MobelTitle {
                    font-weight: 600;
                }

                    .table_RWDStyle tr td .lab_MobelTitle:after {
                        content: "：";
                    }

    .table_EditStyle tr {
        display: block;
    }

        .table_EditStyle tr td {
            display: block;
        }

            .table_EditStyle tr td:first-child {
                text-align: left;
                margin: 2px;
                font-weight: 600;
            }

    .table .pagination-container {
        display: block;
    }
}

/*======================================================桌機板======================================================*/
@media(min-width:992px) {
    .lab_MobelTitle {
        display: none;
    }

    .table_RWDStyle {
        width: 100%;
    }

        .table_RWDStyle tr td {
            padding: 10px 5px;
        }

            .table_RWDStyle tr td textarea {
                height: 60px;
            }

    .table_EditStyle tr td:first-child {
        width: 120px;
        text-align: right;
        font-weight: 600;
    }
}
