@model Banner.Areas.Admin.Controllers.StoreSetController.cGetProductClass_BatchEdit
@{
    ViewBag.Title = "ProductClass_BatchEdit";
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}
<style>
    .Bgn th, .Bgn td {
        text-align: left;
    }
</style>
<div class="main-container">
    <div class="header-container">
        <div class="header-left-border"></div>
        <h5 class="header font-bold">@ViewBag._Title</h5>
    </div>
</div>
<div class="form-container-list">
    <div class="form-container">
        <div class="form-header visually-hidden"><h5>@ViewBag._Title</h5></div>
        <div class="form-body mt-4">
            <div>
                <a class="btn btn-primary btn-lg btn-round me-2" href="/Admin/StoreSet/ProductClass_BatchAdd/@(Model.P.PID)">
                    <i class="fa-solid fa-circle-plus"></i>批次新增
                </a>
                <a class="btn btn-outline-primary btn-lg btn-round me-2" href="/Admin/StoreSet/Product_List">
                    <i class="fa-solid fa-arrow-rotate-left"></i>返回課程上架
                </a>
            </div>
            
            @foreach (var CC in Model.CCs)
            {
                <div id="div_Class_@(CC.PCID)_">
                    @Html.Action("_ProductClass_BatchEditCell", "Include", new { CC = CC })
                </div>
            }
        </div>
    </div>
</div>

@Html.Action("_SearchAccount", "Include")
<script>
    function UpdateClass(PCID) {
        var obj = new Object;
        obj.PCID = PCID;
        obj.ClassTitle = $("input[name='txb_ClassTitle_" + PCID + "_']").val();
        obj.LocationName = "";
        obj.ClassAddress = "";
        obj.ClassMeetURL = "";
        if ($("input[name='txb_ClassLocationName_" + PCID + "_']") != null) { obj.LocationName = $("input[name='txb_ClassLocationName_" + PCID + "_']").val() }
        if ($("input[name='txb_ClassAddress_" + PCID + "_']") != null) { obj.ClassAddress= $("input[name='txb_ClassAddress_" + PCID + "_']").val() }
        if ($("input[name='txb_ClassMeetURL_" + PCID + "_']") != null) { obj.ClassMeetURL = $("input[name='txb_ClassMeetURL_" + PCID + "_']").val() }
        obj.ClassPhoneNo = $("input[name='txb_ClassPhoneNo_" + PCID + "_']").val();
        obj.GraduateDate = $("input[name='txb_ClassSDate_" + PCID + "_']").val();
        obj.TeacherID = $("input[name='txb_TeacherID_" + PCID + "_']").val();
        obj.ClassPeopleCt = $("input[name='txb_ClassPeopleCt_" + PCID + "_']").val();
        var ClassTimeCt = parseInt($("input[name='txb_ClassTimeCt_" + PCID + "_']").val()) ;
        var TimeStr = '';
        for (var i = 0; i < ClassTimeCt; i++) {
            TimeStr += (TimeStr == '' ? '' : ';') + $("#txb_PCTID_" + PCID + "_" + i + "_").val() + "," + $("#txb_SDate_" + PCID + "_" + i + "_").val() + "," + $("#txb_STime_" + PCID + "_" + i + "_").val() + "," + $("#txb_ETime_" + PCID + "_" + i + "_").val();
            //PCTID,Date,STime,ETime;
        }
        obj.TimeStr = TimeStr;
        var sData = JSON.stringify(obj);
        console.log(sData);
        $.ajax({
            url: '/Admin/StoreSet/ProductClass_UpdateClass',
            method: 'post',
            data: obj,
            dataType: 'text',
            success: function (res) {
                //location.reload();
                if (res == '') {
                    Swal.fire({
                        icon: 'success',
                        html: '存檔完成'
                    }).then((result) => {
                        location.reload();
                    });
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        html: res
                    })
                }
            },
            error: function (err) { console.log(err) },
        })
    }

    function CopyClass(PCID) {
        $.ajax({
            url: '/Admin/StoreSet/ProductClass_CopyClass?PCID=' + PCID,
            method: 'GET',
            success: function (res) {
                //location.reload();
                if (res == '') {
                    Swal.fire({
                        icon: 'success',
                        html: '複製完成'
                    }).then((result) => {
                        location.reload();
                    });
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        html: res
                    })
                }
            },
            error: function (err) { console.log(err) },
        })
    }
</script>