@model Banner.Models.c_ContectEdit
<div class="row">
    @if (Model != null)
    {
        <div class="col-xxl-auto col-lg-6 col-12 @(Model.C.ContectType==2 ? "d-none" : "")">
            <div class="row">
                <div class="col-auto ms-0 me-0">
                    <label class="form-control-lg ps-0 pe-0">國碼：</label>
                </div>
                <div class="col-auto ms-0 me-0">
                    @Html.DropDownList("ddl_PhoneZip", Model.SLIs, new { @class = "form-select form-select-lg ms-0 me-0" })
                </div>
            </div>
        </div>
        <div class="col-xxl-auto col-lg-6 col-12">
            @Html.TextBox("txb_PhoneNo", Model.C.ContectValue, new { @class = "form-control form-control-lg input-underline", @placeholder = Model.InputNote })
        </div>
    }

</div>

