@model Banner.Models.cLocation
<div class="row">

    <div class="div_Zip2 row">
        <div class="col-12 div_Zip2">
            @Html.Hidden("txb_LID", Model.LID)
            @Html.TextBox("txb_Address2", Model.Address2, new { @class = "form-control form-control-lg input-underline", @placeholder = "網址或ID" })
        </div>
    </div>
</div>
</div>