<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag._Title</title>

    @Html.Action("_HeadInclude", "Include")
    <link href="~/Areas/Admin/Content/CSS/login.css" rel="stylesheet" />
</head>
<body class="bn-theme">
    @RenderBody()
    @Html.Action("_AlertMsg", "Include")
</body>
</html>
