
@{
    Layout = "~/Areas/Admin/Views/Include/_MasterLogin.cshtml";
}
<main class="main">
    <div class="left-area">
        <div class="div_login_img">
            <div class="logo">
                <img src="/Areas/Web/Content/Img/logo.png" alt="" />
            </div>
        </div>
    </div>
    <div class="right-area">
        <form method="post">

            <div class="login-container">
                <div class="backend-login-title">
                    <p>旌旗教會後台</p>
                </div>

                <div class="account-with-icon">
                    <img src="/Areas/Admin/Content/img/user.png" alt="" />
                    <p>帳號</p>
                </div>

                <div class="input">
                    @Html.TextBox("txb_Login", (TempData["login"].ToString()), new { @class = "form-control input-underline", @placeholder = "帳號、身分證字號" })
                </div>

                <div class="password-with-icon">
                    <img src="/Areas/Admin/Content/img/password.png" alt="" />
                    <p>密碼</p>
                </div>

                <div class="input input-group">
                    @Html.Password("txb_Password", (TempData["pw"].ToString()), new { @class = "form-control input-underline", @placeholder = "請輸入密碼" })
                    <div class="visibility-container">
                        <span class="material-icons" onclick="togglePasswordVisibility(this,'txb_Password')">
                            visibility_off
                        </span>
                    </div>
                </div>

                <div class="verify-with-icon">
                    <img src="/Areas/Admin/Content/img/verified.png" alt="" />
                    <p>驗證碼</p>
                </div>

                <div class="input verify-with-code">
                    @Html.TextBox("txb_ValidateCode", "", new { @class = "form-control input-underline verify-form", @placeholder = "請輸入右方驗證碼" })
                    <img class="imgCaptcha" id="img_ValidateCode" src="/Admin/Home/ValidateCode" onclick="ChangeValidateCode();" />
                </div>
            </div>

            <div class="login-button-container">
                <button class="btn btn-primary btn-round btn-submit" type="submit">登入</button>
            </div>
        </form>
        <div class="forget-password-and-account">
            <div class="forget-password">
                <a href="/Admin/Home/ForgetPassword">忘記密碼</a>
            </div>
            <div class="border-line"></div>
            <div class="forget-account">
                <a href="/Admin/Home/ForgetAccount">忘記帳號</a>
            </div>
        </div>

    </div>
</main>
<script>
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById("txb_Password");
        const visibility = document.querySelector(
            ".visibility-container .material-icons"
        );
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            visibility.textContent = "visibility";
        } else {
            passwordInput.type = "password";
            visibility.textContent = "visibility_off";
        }
    }
    function ChangeValidateCode() {
        document.getElementById('img_ValidateCode').src = '/Web/Home/ValidateCode?Code=' + parseInt(Math.random() * 1000000);
    }
</script>



