
@{
    ViewBag.Title = "Test";
    Layout = "~/Areas/Admin/Views/Include/_Master.cshtml";
}

<form method="post" enctype = "multipart/form-data">
    <input type="file" name="file_upload"/>
    <button type="submit">送出</button>
</form>
