<div class="process-block-container d-none">
    <div class="process-block z6 active">
        <div class="process-block-body">
            <img class="process-block-icon process-block-icon-active"
                 src="/Areas/Web/Content/Img/step-edit-active.svg" alt="" />
            <span>會員職分</span>
        </div>
        <div class="process-block-corner"></div>
    </div>
    <div class="process-block z5 ">
        <div class="process-block-body">
            <img class="process-block-icon" src="/Areas/Web/Content/Img/step-basic-data.svg" alt="" />
            <img class="process-block-icon process-block-icon-active"
                 src="/Areas/Web/Content/Img/step-basic-data-active.svg" alt="" />
            <span>基本資料</span>
        </div>
        <div class="process-block-corner"></div>
    </div>
    <div class="process-block z4 ">
        <div class="process-block-body">
            <img class="process-block-icon" src="/Areas/Web/Content/Img/step-family.svg" alt="" />
            <img class="process-block-icon process-block-icon-active"
                 src="/Areas/Web/Content/Img/step-family-active.svg" alt="" />
            <span>家庭狀況</span>
        </div>
        <div class="process-block-corner"></div>
    </div>
    <div class="process-block z3 ">
        <div class="process-block-body">
            <img class="process-block-icon" src="/Areas/Web/Content/Img/step-payment.svg" alt="" />
            <img class="process-block-icon process-block-icon-active"
                 src="/Areas/Web/Content/Img/step-payment-active.svg" alt="" />
            <span>支付工具</span>
        </div>
        <div class="process-block-corner"></div>
    </div>
    <div class="process-block z2 ">
        <div class="process-block-body">
            <img class="process-block-icon" src="/Areas/Web/Content/Img/step-other.svg" alt="" />
            <img class="process-block-icon process-block-icon-active"
                 src="/Areas/Web/Content/Img/step-other-active.svg" alt="" />
            <span>多元表現</span>
        </div>
        <div class="process-block-corner"></div>
    </div>
    <div class="process-block z1 ">
        <div class="process-block-body">
            <span>完成</span>
        </div>
        <div class="process-block-corner"></div>
    </div>
</div>
