<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>全球旌旗資訊網</title>
    @Html.Action("_HeadInclude", "Include")
    <link rel="stylesheet" href="/Areas/Web/Content/CSS/login.css" />
</head>

<body class="bn-theme forestage">
    @RenderBody()
    @Html.Action("_AlertMsg", "Include")
</body>
</html>
