<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會友註冊-全球旌旗資訊網</title>
    @Html.Action("_HeadInclude", "Include")
</head>

<body class="bn-theme forestage">
    <main class="main">
        <div class="row">
            <div class="col-3">
                <div class="logo">
                    <img src="/Areas/Web/Content/Img/logo.png" alt="" />
                </div>
            </div>
            <div class="col-3"><h2 style="color: #0C3176;">註冊</h2></div>
            <div class="col-3">
                <span>如果您已有帳號，前往</span>
                <a href="/Web/Home/Login" class="btn btn-primary btn-lg btn-round btn-login">登入</a>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    @Html.Action("_AlertMsg", "Include")
</body>
</html>

