<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>兒童註冊-全球旌旗資訊網</title>
    @Html.Action("_HeadInclude", "Include")
</head>

<body class="bn-theme forestage" style=" background-color: rgb(233, 241, 255);overflow-y:auto;">
    <main class="main" style="overflow-x: unset; background-color: rgb(233, 241, 255);">

        <div class="row mt-3 ps-2 pe-2">
            <div class="col-lg-4 col-12 text-lg-start text-center">
                <div class="logo">
                    <a href="/Web/Home/Login"><img src="/Areas/Web/Content/Img/logo-r.svg" alt="" /></a>
                </div>
            </div>
            <div class="col-lg-4 col-12 text-center"><h2 style="color: #0C3176;">為12歲以下兒童註冊</h2></div>
            <div class="col-lg-4 col-12 text-lg-end text-center">
                
            </div>
        </div>
        <div class="container-xxl mb-5 pb-5" style="background-color: white;">
            @RenderBody()
        </div>
    </main>
    @Html.Action("_AlertMsg", "Include")
    <script src="/Areas/Web/Content/js/WebJavascript.js"></script>
</body>
</html>

