@model List<Banner.Models.cMenu>
@if (Model != null)
{
    <nav class="breadcrumb-nav">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Web/GroupPlace/Index">小組資訊</a></li>
            <li><img src="/Areas/Web/Content/img/right.svg" alt="" /></li>
            <li class="breadcrumb-item"><a href="/Web/GroupPlace/Aldult_List">組員名單管理</a></li>
            <li><img src="/Areas/Web/Content/img/right.svg" alt="" /></li>
            <li class="breadcrumb-item"><a href="/Web/GroupPlace/Baptized_List">待受洗名單</a></li>
            <li><img src="/Areas/Web/Content/img/right.svg" alt="" /></li>
            <li class="breadcrumb-item"><a href="">設定受洗日期</a></li>
        </ol>
    </nav>
}

