<a href="#" class="me-4 lab_DarkBlue d-none"><i class="fa-regular fa-star me-3"></i>追蹤清單</a>
<a href="/Web/ClassStore/Order_Step1" class="me-4 lab_DarkBlue"><i class="fa-solid fa-cart-shopping me-3"></i>購物車</a>
<a href="#" class="lab_DarkBlue"><i class="fa-solid fa-clipboard-list me-3"></i>訂單管理</a>
